.input-container {
    align-items: center;
    background-color: $brown;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    height: auto;
    padding: 1rem;
    width: auto;
    .input-button {
        background-color: $light-brown;
        height: 2.5rem;
        max-width: 15vw;
        padding: 0 1rem;
    }
    .input-group {
        margin-bottom: 1rem;
        input {
            height: 2.5rem;
            padding-left: 1rem;
            width: 70%;
        }
    }
    .go-button {
        background-color: $green;
        border-radius: 5px;
        color: $light-brown;
        height: auto;
        padding: 1rem;
    }
    .last-input {
        margin-bottom: 0;
    }
}